<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="generator" content="Blutalist Blog Generator">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{$title}}{{title}}{{/title}}</title>
    <link rel="stylesheet" type="text/css" href="{{siteRoot}}main.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{siteUrl}}/rss.xml">
</head>
<body>
    <header>
        <hgroup>
            <h1>{{title}}</h1>
            <p>{{tagLine}}</p>
        </hgroup>
        <nav>
            <ul>
                {{#links}}
                    <li><a href="{{url}}">{{name}}</a></li>
                {{/links}}
            </ul>
        </nav>
        <hr />
    </header>
    {{$content}}{{/content}}
    <footer>
        <small>
            {{footer}}
        </small>
    </footer>
</body>
</html>
