{{<base}}
{{$content}}

<main>
    <h1>Posts</h1>

    {{#posts}}
    <p>
        <pre>{{formattedDate}}</pre>
        <h3><a href="{{url}}">{{title}}</a></h3>
    </p>
    {{/posts}}

</main>

{{/content}}
{{/base}}
