{{<base}}
{{$content}}

<main>
    <hgroup>
        <h1>Posts</h1>
    </hgroup>

    {{#posts}}
    <hgroup>
        <h3><a href="{{url}}">{{title}}</a></h3>
        <p>{{formattedDate}}</p>
    </hgroup>
    {{/posts}}

</main>

{{/content}}
{{/base}}
