<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ siteRoot }}main.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ siteUrl }}/rss.xml">
</head>
<body>
<div class="title">
    <h1>{{ title }}</h1>
    <p class="sticky">
        <i>{{ tagLine }}</i>
    </p>
</div>
<hr />
{% block content %}{% endblock %}
</body>
</html>
